#experience .card{
    height:600px;
    width:600px;
    background:linear-gradient(#06BEB6,#48B1B4);
    border-radius:10px;
    color:white;
    margin:10px 0 0 0;
    transition:0.5s linear;
    border:1px solid white;
}

#experience .card:hover{
    transform:scale(1.05);
}

#experience .div-title{
    font-size:50px;
    text-align:center;
    font-weight:bold;
    padding:20px 0;
    color:white;
    font-family: 'Quicksand', sans-serif;
}

#experience .card-container{
    display:flex;
    justify-content:space-around;
}

#experience .card-image{
    object-fit:cover;
    padding:20px;
    border-radius:10px;
}

#experience{
    height:100vh;
    font-family: 'Montserrat', sans-serif;
    background-image:url(about-me.jpg);
}

#experience .card .card-title{
    font-size:30px;
    font-weight:600;
    text-align:center;
    margin:30px 50px;
    padding:10px 0;
    border-top:2px solid white;
    border-bottom:2px solid white;
    
}

#experience .card .card-description{
    font-size:20px;
    font-weight:500;
    text-align:center;
    padding:0 30px;
    margin:10px 0;
    
}

#experience .card .view-more-btn{
    width:150px;
    height:50px;
    border-radius:6px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    margin:3% 0 0 0;
    transition:0.5s;
    color:white;
    border:2px solid white;
    background-color:#0093AF;
    cursor: pointer;
}

#experience .card .view-more-btn:hover{
    background-color:turquoise;
}

#experience .card .wrapper{
    display:flex;
    justify-content:center;
}

@media (max-width:600px){
    #experience .card{
        height:300px;
        width:200px;
        background:linear-gradient(#06BEB6,#48B1B4);
        border-radius:10px;
        color:white;
        transition:0.5s linear;
        border:1px solid white;
    }
    
    #experience .card:hover{
        transform:scale(1.05);
    }
    
    #experience .div-title{
        font-size:30px;
        text-align:center;
        font-weight:bold;
        padding:20px 0;
        color:white;
        font-family: 'Quicksand', sans-serif;
    }
    
    #experience .card-container{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    
    #experience .card-image{
        object-fit:cover;
        padding:5px;
        border-radius:10px;
    }
    
    #experience{
        height:100vh;
        font-family: 'Montserrat', sans-serif;
        background-image:url(about-me.jpg);
    }
    
    #experience .card .card-title{
        font-size:20px;
        font-weight:600;
        text-align:center;
        margin:5px 0 5px 0;
        padding:8px 0;
        border-top:2px solid white;
        border-bottom:2px solid white;
        
    }
    
    #experience .card .card-description{
        font-size:12px;
        font-weight:500;
        text-align:center;
        padding:0 8px;
        margin:8px 0;
        
    }
    
    #experience .card .view-more-btn{
        width:80px;
        height:30px;
        border-radius:4px;
        font-size:10px;
        font-family: 'Montserrat', sans-serif;
        font-weight:400;
        margin:3% 0 0 0;
        transition:0.5s;
        color:white;
        border:1px solid white;
        background-color:#0093AF;
        cursor: pointer;
    }
    
    #experience .card .view-more-btn:hover{
        background-color:turquoise;
    }
    
    #experience .card .wrapper{
        display:flex;
        justify-content:center;
    }
}