.contact-section-heading{
    font-size:2.5rem;
    font-family: 'Sriracha', cursive;
    width:70%;
    margin:0 15% 0 15%;
    word-spacing:6px;
   
}

.contact-section-description{
    font-size: 1.8rem;
    font-family: 'Sriracha', cursive;
    width:70%;
    margin:0 15% 0 15%;
    word-spacing:6px;
}

.form-container{
    display:flex;
    justify-content:center;
    padding:2% 0 5% 0;
}

.contact-form{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:40%;
    padding: 2% 0 2% 0;
    border-radius:8px;
    border:1px solid rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.3);
    backdrop-filter:blur;
}

.name,.email,#message{
    background-color:white;
    margin:3% 0 3% 0;
    width:70%;
    border:none;
    border-radius:6px;
    font-size:1.6rem;
    color:black;
    padding:1% 1% 1% 3%;
    font-family: 'Urbanist', sans-serif;
    word-spacing:2px;
    font-family:'Montserrat', sans-serif;
    ;
}

.name,.email,#message:focus{
    outline: none;
}

.form-title{
   width:100%;
   font-size:2rem;
   font-family: 'Sriracha', cursive;
}

.submitButton{
    width:25%;
    height:10%;
    border-radius:6px;
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    margin:3% 0 0 0;
    transition:0.5s;
    color:white;
    border:3px solid white;
    background-color:#0093AF;

}

.submitButton:hover{
    cursor: pointer;
    transform:scale(1.2);
}

@media (max-width:600px){

    .contact-section-heading{
        font-size:1.5rem;
        font-family: 'Sriracha', cursive;
        width:70%;
        margin:0 15% 0 15%;
        word-spacing:2px;
       
    }
    
    .contact-section-description{
        font-size:0.9rem;
        font-family: 'Sriracha', cursive;
        width:70%;
        margin:0 15% 0 15%;
        word-spacing:2px;
    }
    
    .form-container{
        display:flex;
        justify-content:center;
        padding:3% 0 5% 0;
    }
    
    .contact-form{
        display:flex;
        flex-direction: column;
        align-items:center;
        width:70%;
        padding: 2% 0 2% 0;
        border:none;
        border-radius:8px;
        border:1px solid rgba(255,255,255,0.7);
        background-color: rgba(255,255,255,0.3);
        backdrop-filter:blur;
    }
    
    .name,.email,#message{
        background-color:white;
        margin:3% 0 3% 0;
        width:80%;
        border:none;
        border-radius:6px;
        font-size:1.2rem;
        color:black;
        padding:1% 1% 1% 3%;
        word-spacing:2px;
        font-family:'Montserrat', sans-serif;
        ;
    }
    
    .name,.email,#message:focus{
        outline: none;
    }
    
    .form-title{
       width:100%;
       font-size:1.5rem;
       font-family: 'Sriracha', cursive;
    }
    
    .submitButton{
        width:30%;
        height:10%;
        border-radius:6px;
        font-size:0.7rem;
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
        margin:3% 0 0 0;
        transition:0.5s;
        color:white;
        border:1.5px solid white;
        background-color:#0093AF;
    
    }
    
}

